In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('ratings.csv')

In [41]:
df.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [47]:
df2 = pd.read_csv('movies.csv')

In [48]:
#most reviewed
#find the most reviewed item
df.mode()
#match it's number to df2

   userId  movieId  rating  timestamp
0     668      296     4.0  830280893

In [60]:
df2[df2['movieId'] == 296]['title']

260    Pulp Fiction (1994)
Name: title, dtype: object

In [68]:
#count the number of times Pulp fiction is reviewed

In [72]:
print(df[df.movieId == 296])

       userId  movieId  rating   timestamp
15          1      296     4.0  1217896125
166         3      296     5.0   841483462
220         4      296     4.0   950323526
479         7      296     3.5  1322062749
730         9      296     5.0   842686221
1002       15      296     5.0  1447478367
1096       16      296     3.0   842888066
1159       17      296     4.0  1350206808
1299       18      296     4.5  1107371979
1542       21      296     4.0  1428094744
1653       22      296     4.0  1111574860
1916       24      296     4.0   963471080
2592       29      296     4.0   836229707
2882       31      296     3.0   832397389
3435       38      296     3.5  1406486882
3791       39      296     5.0  1001785596
3849       41      296     4.0  1067132190
3948       42      296     2.0  1399110681
4045       44      296     4.0  1225240024
4245       45      296     4.5  1149373761
4310       46      296     5.0   954566960
4421       47      296     5.0   841750319
4524       50      296     2.0   904745372
4642       51      296     3.0   836242003
5020       57      296     4.5  1299381835
5387       61      296     4.5  1058834091
5604       62      296     5.0  1267493112
6594       63      296     3.5  1299477263
7798       66      296     4.0   961685333
8198       69      296     5.0  1121089357
...       ...      ...     ...         ...
89791     600      296     3.0  1018672144
90324     601      296     3.0   938941890
90653     603      296     3.0   857568388
90891     604      296     5.0  1448883076
90971     605      296     5.0   954089270
91554     607      296     3.0   977941448
92846     611      296     4.0  1368127460
93085     613      296     4.0   830716695
93128     614      296     4.5  1415079677
93323     615      296     5.0   955126018
93704     616      296     5.0  1259908768
94623     623      296     3.0   836685930
94700     625      296     3.0  1085175722
94938     627      296     5.0  1237930501
95952     628      296     4.0  1112468070
96181     630      296     5.0   836085135
96205     631      296     5.0   943354384
96253     632      296     4.0  1388949621
96417     633      296     5.0  1134970923
96654     636      296     4.0   939631789
97027     642      296     3.5  1439773970
97224     643      296     5.0  1300442707
98105     653      296     5.0   829072857
98119     654      296     3.0   833384003
98309     656      296     5.0   838777398
99041     663      296     5.0   851580292
99142     665      296     4.0  1231676885
99373     666      296     5.0  1021279612
99593     667      296     4.5  1082552445
99791     668      296     4.0  1025860167

[325 rows x 4 columns]

In [71]:
print(df[df.movieId == 296].count())

userId       325
movieId      325
rating       325
timestamp    325
dtype: int64

In [73]:
#movies that have the lowest reviews
print(df.min())

userId               1.0
movieId              1.0
rating               0.5
timestamp    828564954.0
dtype: float64

In [75]:
print(df[df.rating == 0.5].mode())
#most common is 256 and 344

      userId  movieId  rating   timestamp
0       62.0    256.0     0.5  1053358948
1        NaN    344.0     NaN  1054101321
2        NaN      NaN     NaN  1054101356
3        NaN      NaN     NaN  1055387277
4        NaN      NaN     NaN  1056440008
5        NaN      NaN     NaN  1056440363
6        NaN      NaN     NaN  1056713130
7        NaN      NaN     NaN  1057371776
8        NaN      NaN     NaN  1057372794
9        NaN      NaN     NaN  1059023426
10       NaN      NaN     NaN  1059070324
11       NaN      NaN     NaN  1059070600
12       NaN      NaN     NaN  1059599663
13       NaN      NaN     NaN  1060904463
14       NaN      NaN     NaN  1061950794
15       NaN      NaN     NaN  1061951067
16       NaN      NaN     NaN  1061951624
17       NaN      NaN     NaN  1061951682
18       NaN      NaN     NaN  1061951684
19       NaN      NaN     NaN  1061951696
20       NaN      NaN     NaN  1061951706
21       NaN      NaN     NaN  1062618238
22       NaN      NaN     NaN  1062892116
23       NaN      NaN     NaN  1062892206
24       NaN      NaN     NaN  1062892267
25       NaN      NaN     NaN  1062893171
26       NaN      NaN     NaN  1062893240
27       NaN      NaN     NaN  1062893548
28       NaN      NaN     NaN  1062893802
29       NaN      NaN     NaN  1062894391
...      ...      ...     ...         ...
1168     NaN      NaN     NaN  1444769610
1169     NaN      NaN     NaN  1444769794
1170     NaN      NaN     NaN  1444769812
1171     NaN      NaN     NaN  1444769990
1172     NaN      NaN     NaN  1444777152
1173     NaN      NaN     NaN  1444777161
1174     NaN      NaN     NaN  1445823078
1175     NaN      NaN     NaN  1446385996
1176     NaN      NaN     NaN  1446386006
1177     NaN      NaN     NaN  1446386008
1178     NaN      NaN     NaN  1446444527
1179     NaN      NaN     NaN  1446670832
1180     NaN      NaN     NaN  1446671089
1181     NaN      NaN     NaN  1446671229
1182     NaN      NaN     NaN  1446788053
1183     NaN      NaN     NaN  1446788091
1184     NaN      NaN     NaN  1446919001
1185     NaN      NaN     NaN  1446919190
1186     NaN      NaN     NaN  1448040247
1187     NaN      NaN     NaN  1448040869
1188     NaN      NaN     NaN  1448041213
1189     NaN      NaN     NaN  1448041572
1190     NaN      NaN     NaN  1449332320
1191     NaN      NaN     NaN  1449799593
1192     NaN      NaN     NaN  1449947417
1193     NaN      NaN     NaN  1451122496
1194     NaN      NaN     NaN  1451122753
1195     NaN      NaN     NaN  1451230965
1196     NaN      NaN     NaN  1452132386
1197     NaN      NaN     NaN  1452132508

[1198 rows x 4 columns]

In [76]:
df2[df2['movieId'] == 256]['title']

226    Junior (1994)
Name: title, dtype: object

In [77]:
df2[df2['movieId'] == 344]['title']

304    Ace Ventura: Pet Detective (1994)
Name: title, dtype: object

In [78]:
#everything all results are from 1994 - could suggest person who selected database had a bias to this time

In [82]:
print(df[(df['movieId'] == 256) & (df['rating'] == 0.5)])
print(df[(df['movieId'] == 256) & (df['rating'] == 0.5)].count())

       userId  movieId  rating   timestamp
11          1      256     0.5  1217895764
5595       62      256     0.5  1267576901
52939     386      256     0.5  1223146530
56945     410      256     0.5  1133463044
68307     463      256     0.5  1274470265
80881     567      256     0.5  1129523019
98381     657      256     0.5  1243036724
userId       7
movieId      7
rating       7
timestamp    7
dtype: int64

In [84]:
print(df[(df['movieId'] == 344) & (df['rating'] == 0.5)])
print(df[(df['movieId'] == 344) & (df['rating'] == 0.5)].count())

       userId  movieId  rating   timestamp
5615       62      344     0.5  1267425570
7675       64      344     0.5  1193288798
8955       74      344     0.5  1112225102
46570     331      344     0.5  1138986602
49058     354      344     0.5  1109700949
60152     425      344     0.5  1077475392
82476     574      344     0.5  1257553619
userId       7
movieId      7
rating       7
timestamp    7
dtype: int64

In [86]:
#what user is reviewing the most
print(df['userId'].mode())

0    668
dtype: int64

In [99]:
#print(df['userId'] == 668)
print(df[df.userId == 668].count())

userId       5678
movieId      5678
rating       5678
timestamp    5678
dtype: int64

In [ ]:
print(df[df.movieId == 668][T])
#WHAT MOVIES IS HE WATCHING